.app-container {
    width: 99%;
    text-align: center;
    padding: 10px;
    margin: 10px auto;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.75);

}

.search-block {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.search-result-item {
    overflow-y: scroll;
    height: 700px 
}

.saved-tournaments-block{
    overflow-y: scroll;
    height: 700px ;
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.saved-tournaments-container {
    border-bottom:  1px solid lightgrey;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.input-container {
    width: 70%;
    padding: 10px;
    margin: 0 auto;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.75);

}


.scroll {
    width: 20px;
    height: 200px;
    overflow: auto;
    float: left;
    margin: 0 10px;
}


.search-result-container ::-webkit-scrollbar-thumb {
    background: #666;
}

.saved-list-container {
    overflow-y: scroll;
    margin-top: 40px;
    height: 500px;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.75);
    padding: 10px;
}

.saved-tournaments-item {
    width: 60%;
    text-align: center;
    margin: 4px auto;
    background: #f3f7f7;
    border-bottom: 1px solid lightgrey;
    

}

.list-item {
    border-bottom: 1px solid lavenderblush;
}

@media (min-width: 320px) and (max-width: 480px) {
  
    .saved-tournaments-block{
        width: 100%;
        display: inline-block;
        vertical-align: top;
    }
    

    .search-block {
        width: 100%;
        display: inline-block;
        vertical-align: top;
    }
    

}