.app-container {
    width: 95%;
    text-align: center;
    padding: 10px;

    margin: 10px auto;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.75);

}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.input-container {
    width: 70%;
    padding: 10px;
    margin: 0 auto;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.75);

}

.search-result-container {
    
    width: 50%;
    overflow-y: scroll;
    height: 500px;
    /*white-space: nowrap;*/
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.75);
}

.scroll {
    width: 20px;
    height: 200px;
    overflow: auto;
    float: left;
    margin: 0 10px;
}


.search-result-container ::-webkit-scrollbar-thumb {
    background: #666;
}

.saved-list-container {
    overflow-y: scroll;
    margin-top: 40px;
    height: 500px;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.75);
    padding: 10px;
}

.saved-tournaments-item {
    width: 60%;
    text-align: center;
    margin: 4px auto;
    background: #f3f7f7;
    border-bottom: 1px solid lightgrey;
    

}

.saved-tournaments-container ul:hover {
    transition: .5s;
    background:#e7ebec;
}

.item {
   
}

.list-item {
    border-bottom: 1px solid lavenderblush;
}